<a href="https://colab.research.google.com/github/pedro00dk/ufpe-security-analysis/blob/master/ufpe_sa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# UFPE Security Analysis

Fetching github repo to get database file.

In [10]:
!rm --recursive --force -- ./ufpe-security-analysis/
!git clone -- https://github.com/pedro00dk/ufpe-security-analysis
!ls -- ./ufpe-security-analysis/

Cloning into 'ufpe-security-analysis'...
remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 9 (delta 1), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (9/9), done.
 README.md   ufpe_sa.ipynb  'UFPE SSI.xlsx'

Install necessary tools for loading excel

In [9]:
!pip install xlrd

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/07/e6/e95c4eec6221bfd8528bcc4ea252a850bffcc4be88ebc367e23a1a84b0bb/xlrd-1.1.0-py2.py3-none-any.whl (108kB)
    100% |████████████████████████████████| 112kB 2.7MB/s
Installing collected packages: xlrd
Successfully installed xlrd-1.1.0

In [0]:
import pandas as pd
import re

The database consists in an excel file with sheets per year of information. All of these sheets have to be loaded.

In [32]:
xls = pd.ExcelFile('./ufpe-security-analysis/UFPE SSI.xlsx')
dfs = xls.parse(sheet_name=xls.sheet_names)

[display(y, df.sample(2)) for y, df in dfs.items()]

'2008'

,Data,Quadrante,Local,Horário,Tipo,Descrição Sumária,Partes,Medidas
138,07.06.08,Alfa,Em frente CEU Masc,02h10,Tentativa de roubo,Ocorrência 685-três elementos tentaram assalta...,Cezar/ vítima,Houve luta. Os lementos evadiram-se.
101,10.04.08,ZLE,BR101prox.Eros,09h20,Registro de ocorrência,Ocorrência 572-houve um atropelamento,Ñinf,Foi acionado o Bombeiro.

'2009'

,Data,Quadrante,Local,Horário,Tipo,Descrição Sumária,Partes,Medidas
37,10.02.09,Alfa,Reitoria,19h30,Tentativa de roubo,Ocorrência 1159 - 02 elementos tentando assalt...,Ñ inf,O Copom foi solicitado.
12,20.01.09,NaN,Ñ inf,Ñ inf,Animal solto,Ocorrência 1118 - Animal de grande porte preju...,Ñ inf,Ñ inf

'2011'

,Data,Quadrante,Local,horário,Tipo,Descrição Sumária,Partes,Medidas
138,29.08.11,Gama,CAC,Ñinf,Furto Privado,Ocorrência 3380-mulher teve sua bolsa furtada ...,Cecília Araújo de Azevedo/vítima,Ñinf
197,11.12.11,Delta,CCS,NaN,Carro c/ Vulnerabilidade,Ocorrência 3585- foi deixado um POLO com o vid...,NaN,NaN

'2012'

,Data,Quadrante,Local,horário,Tipo,Descrição Sumária,Partes,Medidas
125,01.07.12,Alfa/Beta,Bloqueio de saída,17h30,Dano Patrimonio,Ocorrência 3986 - os seguranças da TKS quebro...,ñ inf,Ñinf
26,16.03.12,Gama,Av.Arquitetura/Av.J.Amaz.,NaN,Colisão,Ocorrência 3772 - colisão entre o Gol de plac...,Jose Maria D Silva/Amanda Rafaela C.Mesquita,Ñinf

'2013'

,Data,Quadrante,Local,horário,Tipo,Descrição Sumária,Partes,Medidas
472,2013-12-19,Delta,CCS,09h00,Registro de ocorrência,Ocorrência 7154-segundo registro uma árvore ha...,Proprietários dos veículos: Silvério Barbosa D...,O GTO acionou o Srº Sebastião chefe dos serviç...
214,2013-05-22,Delta,BIOTEC/por traz CCB e LIKA,01h30,Registro de ocorrência,Ocorrência 4935-estavam tentando entra no prédio.,Silverio Marques(informante),Ñinf

'2014'

,Data,Quadrante,Local,horário,Tipo,Descrição Sumária,Partes,Medidas
177,2014-05-22 00:00:00,Gama,NaN,08h10,Registro de ocorrência,Ocorrência 7561- segundo registro a foi encont...,"Andréa, Lucilene, Bartolomeu.",O jacaré foi resgatado pelo CIPOMA.
358,2014-11-08 00:00:00,Beta,NTI,Ñ inf,Carro c/ Vulnerabilidade,Ocorrência 7898 - segundo registro havia um ve...,Proprietário: Nivaldo Fernando Santos (Servido...,Os pertences foram guardados pelo segurança Re...

'2015'

,Data,Quadrante,Local,horário,Tipo,Descrição Sumária,Partes,Medidas,Unnamed: 8,Unnamed: 9,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
330,2015-08-03,Gama,CFCH,20h00,Roubo ZLE,"Ocorrência 0434 TURMA ""B"" - segundo registro d...",Senhor: Nivaldo Barbosa dos Santos.,O senhor gostaria de receber as imagens para o...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
443,2015-12-05,Alfa,Embaixo do Viaduto,22h10,Registro de Ocorrência,"Ocorrência 0697 TURMA ""D"" - segundo registro o...",Rapaz: Luciano Alves.,O rapaz foi conduzido até a delegacia da Várzea.,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

[None, None, None, None, None, None, None]

In [34]:
drop_rules = [
    lambda c: c == 'descrição sumária',
    lambda c: c == 'medidas',
    lambda c: c.startswith('unnamed')
]

dfs = {
    y: df.drop([c for c in df.columns if any(r(c.lower()) for r in drop_rules)], axis='columns')
    for y, df in dfs.items()
}
[display(y, df.sample(5)) for y, df in dfs.items()]

'2008'

,Data,Quadrante,Local,Horário,Tipo,Partes
116,07.05.08,ZLI,Av. do Arquiteto,13h40,Colisão,Francisco Assis Gomes/Gozalo Henrique
172,08.10.08,Gama,CCSA,20h00,Registro de ocorrência,Ñinf
153,11.08.08,Alfa,CT SUDENE,07h48,Arrombamento,Ñinf
14,15.01.08,Beta,Energia Nuclear,Ñinf,Registro de ocorrência,Ñinf
75,05.03.08,ZLE,Parada CS BR 101,20h00,Roubo - ZLE,Murilo Severino da Silva

'2009'

,Data,Quadrante,Local,Horário,Tipo,Partes
9,15.01.09,Gama,Próximo a hotelaria,Ñ inf,Registro de ocorrência,Ñ inf
70,06.03.09,NaN,Ñ inf,10h25,Prestação de socorro,Tiago André Rodriguez.
114,06.06.09,Alfa,COS,09h30,Roubo,GTO
64,03.03.09,Gama,CCSA,23h40,Registro de ocorrência,Aldemir Ausênio Maia.
131,02.09.09,Gama,CCSA,Ñ inf,Furto,GTO

'2011'

,Data,Quadrante,Local,horário,Tipo,Partes
178,09.11.11,NaN,Ñinf,ñ inf.,Registro de Ocorrência,NaN
137,27.08.11,Delta,CCS,23h,Arrombamento de Instalações,NaN
113,19.07.11,Delta,CCS,NaN,Carro c/ Vulnerabilidade,NaN
174,04.11.11,ZLI,Avenida dos Reitores,NaN,Colisão,Luana Gomes Barbosa
201,19.12.11,Alfa,Clube Universitario,21h35,Arma de fogo,NaN

'2012'

,Data,Quadrante,Local,horário,Tipo,Partes
198,"10.10,12",Delta,Próxmo ao Portão do CCS BR-101,17h50,Roubo(ZLE),ñ inf
41,09.04.12,Alfa,Fisioterapia,ñ inf,Animal solto,Ronaldo Carneiro/ Artur e Camila
38,05.04.12,Alfa,Piscina NEFD,ñ inf,Invasão,Bruno Rafael /Bruno Rafael/ Vinicius Araújo/ J...
29,17.04.12,Delta,No estacionamento do CCS,15h08,Colisão,Fernando Ribeiro/ Vera pinheiro Ramos
23,07.03.12,Beta,Estacionamento da área II,11h20,Colisão,Leonardo Luiz F. Santos/Leonardo . Da Silva

'2013'

,Data,Quadrante,Local,horário,Tipo,Partes
42,2013-01-22,NaN,Ñinf,21h00,Furto privado,Samuel Morreira Amaral.
188,2013-05-10,Beta,CIN (estacionamento),17h45,Arrombamento de Veículo,Eduardo Jose de Vasconcelos Matos (dono do Veí...
128,2013-03-26,Delta,CCB,05h30,Registro de ocorrência,Aberto Nery (segurança UFPE) informante
254,2013-06-15,Delta,Estac. Do CCB,20h00,Registro de ocorrência,Marcelo Pompelli ( proprietário)
249,2013-06-12,Gama,CAC,16h50,Furto privado,Lucas Eduardo da Silva

'2014'

,Data,Quadrante,Local,horário,Tipo,Partes
226,2014-06-18 00:00:00,Gama,Próximo ao Cecine,13h00,Colisão,Piloto da moto: Wendson Oliveira. Condutor do ...
376,2014-12-09 00:00:00,Gama,CFCH,15h00,Prestação de socorro,Aluna: Kenia Aguines.
112,2014-04-08 00:00:00,Delta,Hospital das Clínicas,19h20,Roubo ZLI,Aluno José Eduardo Adelino Silva.
258,2014-07-17 00:00:00,Delta,Central de Segurança,06h40,Colisão,Condutor do ônibus: José Olimpio de Queiros Ne...
270,2014-07-30 00:00:00,Alfa,Terapia Ocupacional,20h30,Elemento suspeito,Ñ inf

'2015'

,Data,Quadrante,Local,horário,Tipo,Partes
141,2015-03-28,Beta,Concha Acústica,14h05,Acidente,Proprietário do veículo: Oscar Henrique da Sil...
394,2015-10-18,Alfa,Casa da Estudante,19h00,Prestação de Socorro,Estudante: Alexandre Campus da Silva Jr..
368,2015-09-21,Gama,CFCH,16h00,Prestação de Socorro,Aluna: Rafaela Viana (Curso de Geografia).
390,2015-10-16,Gama,Estacionamento do CCSA,Ñ inf,Ameaça,Aluna: Stephanie Nogueira de Barros (Curso de ...
1,2015-01-04,Gama,Laguinho,Ñ inf,Abordagem/ Uso de Entorpecentes/ Bebidas Alcoó...,Ñ inf

[None, None, None, None, None, None, None]