<a href="https://colab.research.google.com/github/pedro00dk/ufpe-security-analysis/blob/master/ufpe_sa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# UFPE Security Analysis

Fetching github repo to get database file.

In [1]:
!rm --recursive --force -- ./ufpe-security-analysis/
!git clone -- https://github.com/pedro00dk/ufpe-security-analysis
!ls -- ./ufpe-security-analysis/

Cloning into 'ufpe-security-analysis'...
remote: Enumerating objects: 36, done.
remote: Counting objects: 100% (36/36), done.
remote: Compressing objects: 100% (34/34), done.
remote: Total 36 (delta 16), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (36/36), done.
 README.md   ufpe_sa.ipynb  'UFPE SSI.xlsx'

#### Packages and imports

Install necessary packages for loading excel

In [2]:
!pip install xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.6/dist-packages (1.1.0)

In [0]:
import numpy as np
import pandas as pd
import re

### Dataframe Columns and Data

The database consists of an excel file with sheets per year of information. All of these sheets have to be loaded and merged. I printed only two lines of the dataframes to check the data formats and column names for concatenation.

In [4]:
xls = pd.ExcelFile('./ufpe-security-analysis/UFPE SSI.xlsx')
dfs = xls.parse(sheet_name=xls.sheet_names)

[display(y, df.sample(2)) for y, df in dfs.items()]

'2008'

,Data,Quadrante,Local,Horário,Tipo,Descrição Sumária,Partes,Medidas
39,09.02.08,Beta,FAE,08h00,Registro de ocorrência,Ocorrência 452 - dois elementos dentro da áre...,Ñinf,Foram convidados a deixar o local.
26,24.01.08,Gama,CECINE,11h00,Registro de ocorrência,Ocorrência 420 - homem que apresentava proble...,Ñinf,Foi conduzido para fora do Campus.

'2009'

,Data,Quadrante,Local,Horário,Tipo,Descrição Sumária,Partes,Medidas
12,20.01.09,NaN,Ñ inf,Ñ inf,Animal solto,Ocorrência 1118 - Animal de grande porte preju...,Ñ inf,Ñ inf
85,19.03.09,Gama,CCSA,08h30,Registro de ocorrência,"Ocorrência 2031 - O dono de um veículo corola,...",Ñ inf,Ñ inf

'2011'

,Data,Quadrante,Local,horário,Tipo,Descrição Sumária,Partes,Medidas
5,25.01.11,Alfa,NEFD,NaN,Apreensão de Drogas,Ocorrência 2955- no campo de futebol três elem...,NaN,NaN
190,29.11.11,Delta,Odontologia,NaN,Roubo (ZLI),Ocorrência 3560- uma alunda foi assaltada ao a...,Maria Angela Farias,NaN

'2012'

,Data,Quadrante,Local,horário,Tipo,Descrição Sumária,Partes,Medidas
173,18.09.12,Gama,Pox.Colégio de Aplicação,19h10,Prestação de socorro,Ocorrência 4142 - um aluno de Economia passa...,Pedro Henrique S.,Foi conduzido até a UPA da Caxangá
178,20.09.12,Beta,Estacionamento CCEN,19h30,Registro de Ocorrência,Ocorrência 41 - uma professora assustou...,Ñinf,Ñinf

'2013'

,Data,Quadrante,Local,horário,Tipo,Descrição Sumária,Partes,Medidas
355,2013-08-08,Ñinf,Av. da Arquitetura,08h25,Colisão,Ocorrência 5091-segundo registro houve uma col...,NaN,NaN
416,2013-10-19,ZLE,Parada CMR,20h30,Roubo ZLE,Ocorrência 7036-segundo registro três estudant...,"Heitor(vítima)/Laísa Nadja, Raisa algusta,Mar...","A viatura da PM, a vítima, o menor infrator e ..."

'2014'

,Data,Quadrante,Local,horário,Tipo,Descrição Sumária,Partes,Medidas
237,2014-06-27 00:00:00,Ñ inf,Alojamento Multidisciplinar,23h00,Furto privado,Ocorrência 7633 - segundo registro a enfermeir...,Vítima: Adélia Karla Falcão Soares (Enfermeira).,Foi solicitado acesso a câmera de vídeo do loc...
314,2014-09-03 00:00:00,Gama,CAC,09h20,Prestação de socorro,Ocorrência 7767 - segundo registro uma aluna p...,Aluna: Luiza Gomes.,A aluna foi levada ao Hospital das Clínicas.

'2015'

,Data,Quadrante,Local,horário,Tipo,Descrição Sumária,Partes,Medidas,Unnamed: 8,Unnamed: 9,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
116,2015-03-19,Beta,Estacionamento da PCU,16h00,Agressão e Ameaça,"Ocorrência 0155 TURMA ""C"" - segundo registro o...",Funcionário: Ivanildo Francisco de Mendonça / ...,O ciclista evadiu-se do local.,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,2015-04-08,Beta,Estacionamento do NTI,15h00,Carro c/ Vulnerabilidade,"Ocorrência 0197 TURMA ""A"" - segundo registro o...",Proprietário do Veículo: Alefy Matheus.,Ñ inf,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

[None, None, None, None, None, None, None]

### Dataframes Concatenation

Processing the dates of all dataframes before merging because they have different formats, it will help to maitain the correctness of the processed dates. Some cleaning in the columns names is also necessary to make then match in concatenation.

In [5]:
# lower all columns and remove extra spaces
dfs = {y: df.rename(lambda c: c.lower().strip(), axis='columns') for y, df in dfs.items()}

# drop columns
drop_rule = re.compile(r'(?x) descrição \s sumária | medidas | unnamed.*')
dfs = {y: df.drop([c for c in df.columns if drop_rule.match(c)], axis='columns') for y, df in dfs.items()}

# unify null elements
na_rule = re.compile(r'(?i)ñ.*')
dfs = {y: df.replace(na_rule.pattern, np.nan, regex=True) for y, df in dfs.items()}

# unify date columns, date have different formats along all dataframes, so they have to be processed before concat
date_format = {
    '2008': '%d.%m.%y',
    '2009': '%d.%m.%y',
    '2011': '%d.%m.%y',
    '2012': '%d.%m.%y',
    '2013': '%Y-%m-%d',
    '2014': '%Y-%m-%d', #'%Y-%m-%d %h:%m:$s'
    '2015': '%Y-%m-%d'
}
dfs = {
    y: df.assign(**{'data': lambda df: pd.to_datetime(df['data'], errors='coerce', format=date_format[y], exact=False)})
    for y, df in dfs.items()
}

# merge dataframes
df = pd.concat(dfs, ignore_index=True)
df.sample(10)

,data,quadrante,local,horário,tipo,partes
1857,2015-04-06,Gama,CFCH,14h40,Prestação de Socorro,Aluno: Jeferson Rodrigo (Curso de Licenciatura...
1951,2015-05-30,Delta,Restaurante do HC,09h00,Registro de Ocorrência,Aluna: Ilgiza Iangildina (Curso de Letras).
1486,2014-05-22,Alfa,Reitoria,06h00,Registro de ocorrência,NaN
337,2009-09-02,Gama,Estacionamento de Economia,21h30,Furto,GTO
272,2009-03-03,Gama,CCSA,23h40,Registro de ocorrência,Aldemir Ausênio Maia.
1085,2013-06-15,Alfa,BR 101 em frente a Reitoria,NaN,Registro de ocorrência,Amada Grazielly (dona da Bolsa)
1513,2014-06-06,Alfa,Casa da estudante,12h30,Registro de ocorrência,Informante: Gabriela de Lima Oliveira que mora...
1010,2013-05-04,Delta,traz do CCB(prédio contruç),17h25,Registro de ocorrência,NaN
1018,2013-05-10,Beta,CIN (estacionamento),17h45,Arrombamento de Veículo,Eduardo Jose de Vasconcelos Matos (dono do Veí...
1771,2015-02-22,NaN,NaN,16h30,Prestação de Socorro,Agente: Roberto fernando (Fernandão).

### Process DataFrame columns

In [10]:
pdf = df.copy()

pdf['horário'] = pd.to_datetime(df['horário'], errors='coerce', format='%Hh%M', exact=False)

pdf['quadrante'] = df['quadrante']\
    .fillna('')\
    .apply(lambda e: str(e).strip().lower())\
    .apply(lambda e: 'None' if len(e) <= 1 else e)\
    .apply(lambda e: 'externa' if 'externa' in e else e)\
    .apply(lambda e: 'externa' if e.startswith('z') and e.endswith('e') else e)\
    .apply(lambda e: 'interna' if e.startswith('z') else e)\
    .apply(lambda e: e[:e.index('/')] if '/' in e else e)

places_rules = [
    ('CAC-CFCH', re.compile(r'(?ix) cfch | cac | (a|á)rtes | gere | sintuf')),
    ('CE',       re.compile(r'(?ix) ((^|\s) ce ($|\s)) | col(é|e)gio | aplica | educaç | ((^|\s)cap($|\s))')),
    ('CCSA',     re.compile(r'(?ix) ccsa | cssa | adu(e?)fpe | economia | lamsa | ((^|\s)de(q|c)($|\s)) | hotel | lac | turism | qu(í|i)mic')),
    ('CTG',      re.compile(r'(?ix) ctg | oce(o|a)no | museu | fae | eng. | engenh')),
    ('CCEN',     re.compile(r'(?ix) ccen | dep .* físi | matem')),
    ('CCB',      re.compile(r'(?ix) ccb')),
    ('CCS',      re.compile(r'(?ix) ccs | odonto | dermato | medic | fono | histono | f(á|a)rm(á|a)c | nutri | anato | faci | biot | buco | psico | svo | sa(ú|u)de | antib | nasc')),
    ('CIN',      re.compile(r'(?ix) cin | inform')),
    ('AREA2',    re.compile(r'(?ix) ((á|a)rea \s? (2|ii)) | pcu | prefeit | den')),
    ('RU',       re.compile(r'(?ix) ru | restaurante')),
    ('NTI',      re.compile(r'(?ix) ((^|\s) nti) | n(ú|u)cleo de tecn')),
    ('NEDF',     re.compile(r'(?ix) nedf | nefd | dine | nai | fisio | terapi | (educ .* ica) | arqueo | n(ú|u)cleo | quadra')),
    ('LANSA',    re.compile(r'(?ix) lansa')),
    ('CECINE',   re.compile(r'(?ix) cecine')),
    ('FARMACIA', re.compile(r'(?ix) f(á|a)rm(á|a)cia')),
    ('CEU',      re.compile(r'(?ix) ((^|\s) ceu ($|\s|-)) | masc | femin')),
    ('DGOS',     re.compile(r'(?ix) dgos')),
    ('REITORIA', re.compile(r'(?ix) reitoria | proa | caixa | brasi | ((^|\s)nae($|\s|\.)) | proacad')),
    ('BR101',    re.compile(r'(?ix) (br .* 101?) | sudene | viadut | girad')),
    ('HC',       re.compile(r'(?ix) hc | hospital | cl(í|i)nicas')),
    ('ENTRADA',  re.compile(r'(?ix) entrada | sa(í|i)da | editora | (o|ô)nibus | guarita | ((^|\s)cos($|\s))')),
    ('AVENIDA',  re.compile(r'(?ix) avenida | av\. | ceco(n|m) | conven | central | arqui | reitore | teatr | ((^|\s)bc($|\s))')),
    ('CONCHA',   re.compile(r'(?ix) concha')),
    ('COOPER',   re.compile(r'(?ix) cooper')),
    ('CAST_AGUA',re.compile(r'(?ix) castelo | agua')),
    ('CASA-ESTD',re.compile(r'(?ix) casa | mist')),
    ('CLUBE',    re.compile(r'(?ix) clube')),
    ('LAGO',     re.compile(r'(?ix) lago | lagu | riach | cavouc')),
    ('CAMPUS',   re.compile(r'(?ix) campus | ufpe')),
    ('TVU',      re.compile(r'(?ix) tvu | ((^|\s)tv($|\s)) | tv \s u | r(a|á)dio')),
    ('none',     re.compile(r'(?ix) none')),
    ('OUTROS',   re.compile(r'(?ix) .*')),
]
place_matcher = lambda e: [place for place, rule in places_rules if rule.search(e)][0]
pdf['local'] = df['local']\
    .fillna('None')\
    .apply(lambda e: str(e).strip().lower())\
    .apply(place_matcher)

type_rules = [
    ('HOMICIDIO',re.compile(r'(?ix) homic(í|i)')),
    ('SUICIDIO', re.compile(r'(?ix) suic(í|i)')),
    ('ESTUPRO',  re.compile(r'(?ix) estupr | estrup')),
    ('AGRESSÃO', re.compile(r'(?ix) agress')),
    ('ROUBO',    re.compile(r'(?ix) assal | arrast |roub')),
    ('FURTO',    re.compile(r'(?ix) furt')),
    ('BRIGA',    re.compile(r'(?ix) brig')),
    ('ARROMBAM.',re.compile(r'(?ix) arromb | inva(s|d)')),
    ('APREENCAO',re.compile(r'(?ix) apreen | arma')),
    ('DROGAS',   re.compile(r'(?ix) Drog | entorp')),
    ('SUSPEITOS',re.compile(r'(?ix) suspeit | abordag')),
    ('COLISÃO',  re.compile(r'(?ix) colis | aciden')),
    ('SOCORRO',  re.compile(r'(?ix) presta | socorr')),
    ('INCENDIO', re.compile(r'(?ix) inc(ê|e)nd')),
    ('CARRO VUL',re.compile(r'(?ix) carr | veic')),
    ('DANO_PATR',re.compile(r'(?ix) patrim | dano')),
    ('ANIMAL',   re.compile(r'(?ix) anima')),
    ('BO',       re.compile(r'(?ix) regist | ocorr | bolet')),
    ('none',     re.compile(r'(?ix) none')),
    ('OUTROS',   re.compile(r'(?ix) .*')),
]
type_matcher = lambda e: [type for type, rule in type_rules if rule.search(e)][0]

pdf['tipo'] = df['tipo']\
    .fillna('None')\
    .apply(lambda e: str(e).strip().lower())\
    .apply(type_matcher)

display(
    pdf['local'].value_counts().head(8),
    pdf['tipo'].value_counts().head(8),
)

pdf.sample(10)

none        239
CCS         211
CAC-CFCH    209
NEDF        155
CCSA        140
AVENIDA     111
CTG         111
REITORIA    108
Name: local, dtype: int64

BO           751
ROUBO        335
SOCORRO      224
FURTO        194
COLISÃO      163
ARROMBAM.    131
CARRO VUL     92
APREENCAO     54
Name: tipo, dtype: int64

,data,quadrante,local,horário,tipo,partes
1761,2015-02-12,gama,CAC-CFCH,1900-01-01 01:30:00,BO,Os alunos estavam sem documentos / Segurança: ...
1062,2013-05-31,None,none,NaT,BO,Ariana Catunda de Vasconcelos (vítima)
2138,2015-12-05,alfa,BR101,1900-01-01 22:10:00,BO,Rapaz: Luciano Alves.
1794,2015-03-08,alfa,REITORIA,1900-01-01 15:20:00,APREENCAO,Aluno: Felipe Gonsalves Barbosa. Coordenadores...
2100,2015-10-27,gama,CAC-CFCH,1900-01-01 09:00:00,COLISÃO,Proprietária do Kia: Adriana Maria de Abreu Ba...
1560,2014-07-11,delta,CCS,1900-01-01 14:20:00,CARRO VUL,NaN
517,2011-08-29,gama,CAC-CFCH,NaT,FURTO,Cecília Araújo de Azevedo/vítima
1767,2015-02-18,delta,CCB,NaT,BO,Informante: vigilante Arlindo.
433,2011-04-12,alfa,CEU,NaT,ROUBO,Mayara Natália de Lima
2005,2015-07-09,beta,CTG,1900-01-01 18:00:00,BO,Aluna: Gersica Moraes da Silva (Curso de Engen...