<a href="https://colab.research.google.com/github/pedro00dk/ufpe-security-analysis/blob/master/ufpe_sa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# UFPE Security Analysis

Fetching github repo to get database file.

In [1]:
!rm --recursive --force -- ./ufpe-security-analysis/
!git clone -- https://github.com/pedro00dk/ufpe-security-analysis
!ls -- ./ufpe-security-analysis/

Cloning into 'ufpe-security-analysis'...
remote: Enumerating objects: 27, done.
remote: Counting objects: 100% (27/27), done.
remote: Compressing objects: 100% (25/25), done.
remote: Total 27 (delta 10), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (27/27), done.
 README.md   ufpe_sa.ipynb  'UFPE SSI.xlsx'

#### Packages and imports

Install necessary packages for loading excel

In [2]:
!pip install xlrd

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/07/e6/e95c4eec6221bfd8528bcc4ea252a850bffcc4be88ebc367e23a1a84b0bb/xlrd-1.1.0-py2.py3-none-any.whl (108kB)
    100% |████████████████████████████████| 112kB 4.1MB/s
Installing collected packages: xlrd
Successfully installed xlrd-1.1.0

In [0]:
import numpy as np
import pandas as pd
import re

### Dataframe Columns and Data

The database consists of an excel file with sheets per year of information. All of these sheets have to be loaded and merged. I printed only two lines of the dataframes to check the data formats and column names for concatenation.

In [4]:
xls = pd.ExcelFile('./ufpe-security-analysis/UFPE SSI.xlsx')
dfs = xls.parse(sheet_name=xls.sheet_names)

[display(y, df.sample(2)) for y, df in dfs.items()]

'2008'

,Data,Quadrante,Local,Horário,Tipo,Descrição Sumária,Partes,Medidas
119,07.05.08,Gama,CECINE,21h00,Roubo - ZLI,Ocorrência 627- estudante é assaltado,Ñinf,Ñinf
156,15.08.08,Beta,Prox.parada.Editora,20h10,Roubo - ZLE,Ocorrência 823-estudante é assaltado.,Rafael Alberto Gomes Pereiera Lima,Ñinf

'2009'

,Data,Quadrante,Local,Horário,Tipo,Descrição Sumária,Partes,Medidas
99,27.03.09,Alfa,NAI,10h10,Registro de ocorrência,Ocorrência 2047 - 01 funcionário que estava re...,Natália Maria Moura Vieira de Souza / Amanda M...,O GTO foi ao local.
79,14.03.09,ZLE,Próximo ao banco do brasil,Ñ inf,Roubo,Ocorrência 2024 - 01 estudante que reside na C...,Segurança José Maria,O segurança fez uma ocorrência mais detalhada.

'2011'

,Data,Quadrante,Local,horário,Tipo,Descrição Sumária,Partes,Medidas
189,28.11.11,NaN,Ñinf,Ñinf,Registro de Ocorrência,Instrução para autos do Inquerito sobre os ben...,NaN,Ñinf
55,13.04.11,Alfa,COS,NaN,Carro c/ Vulnerabilidade,Ocorrência 3108- foi deixado um veiculo com vi...,Antonio Severino de Araujo Neto,NaN

'2012'

,Data,Quadrante,Local,horário,Tipo,Descrição Sumária,Partes,Medidas
43,07.02.12,Alfa,Guarita do NEFD,07h30,Dano Patrimonio,Ocorrência 3697 –estudante alterado e com sint...,Carlos Regis,Ñinf
177,19.09.12,Gama,DGOS,13h30,Registro de ocorrência,Ocorrência 41 - o estudante de Filosofi...,Ñinf,Ñinf

'2013'

,Data,Quadrante,Local,horário,Tipo,Descrição Sumária,Partes,Medidas
275,2013-06-23,Gama,LANSA,23h00,Arrombamento de instalações,Ocorrência 4998-segundo registro a grade que d...,Ñinf,A abertura foi fotografada.
173,2013-04-29,Gama,LANSA(Eng. Química),08h00,Arrombamento de instalações,Ocorrência4886-o cadeado da grade foi arrombado.,Dora,Foi acionada a Polícia Federal

'2014'

,Data,Quadrante,Local,horário,Tipo,Descrição Sumária,Partes,Medidas
54,2014-02-15 00:00:00,Gama,Pista de Cooper,07h50,Registro de ocorrência,Ocorrência 7269-segundo registro o GTO foi aci...,Ñ inf,O pessoal da elétrica foi comunicado.
311,2014-08-30 00:00:00,Gama,CE,20h20,Prestação de socorro,Ocorrência 7759 - segundo registro a aluna pas...,Aluna: Antonia Queiliane Costa / Acompanhante:...,A aluna foi levada a UPA da Caxangá.

'2015'

,Data,Quadrante,Local,horário,Tipo,Descrição Sumária,Partes,Medidas,Unnamed: 8,Unnamed: 9,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
119,2015-03-20,Ñ inf,Ñ inf,13h30,Colisão,"Ocorrência 0157 TURMA ""A"" - segundo registro h...",Proprietária do Fox: Marília de Deus Holanda V...,Ñ inf,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284,2015-06-15,Gama,Pista de Cooper,05h40,Furto Privado,"Ocorrência 0337 TURMA ""C"" - segundo registro o...",Funcionário: Sérgio Ferreira de Amorim.,A ocorrência foi registrada.,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

[None, None, None, None, None, None, None]

### Dataframes Concatenation

Processing the dates of all dataframes before merging because they have different formats, it will help to maitain the correctness of the processed dates. Some cleaning in the columns names is also necessary to make then match in concatenation.

In [5]:
# lower all columns and remove extra spaces
dfs = {y: df.rename(lambda c: c.lower().strip(), axis='columns') for y, df in dfs.items()}

# drop columns
drop_rule = re.compile(r'(?x) descrição \s sumária | medidas | unnamed.*')
dfs = {y: df.drop([c for c in df.columns if drop_rule.match(c)], axis='columns') for y, df in dfs.items()}

# unify null elements
na_rule = re.compile(r'(?i)ñ.*')
dfs = {y: df.replace(na_rule.pattern, np.nan, regex=True) for y, df in dfs.items()}

# unify date columns, date have different formats along all dataframes, so they have to be processed before concat
date_format = {
    '2008': '%d.%m.%y',
    '2009': '%d.%m.%y',
    '2011': '%d.%m.%y',
    '2012': '%d.%m.%y',
    '2013': '%Y-%m-%d',
    '2014': '%Y-%m-%d', #'%Y-%m-%d %h:%m:$s'
    '2015': '%Y-%m-%d'
}
dfs = {
    y: df.assign(**{'data': lambda df: pd.to_datetime(df['data'], errors='coerce', format=date_format[y], exact=False)})
    for y, df in dfs.items()
}

# merge dataframes
df = pd.concat(dfs, ignore_index=True)
df.sample(10)

,data,quadrante,local,horário,tipo,partes
144,2008-06-19,NaN,NaN,22h30,Roubo -,Aline Cesaré Matoso
372,2009-12-13,NaN,Externa,14h25,Roubo,GTO
1584,2014-07-31,Alfa,NEFD,14h00,Roubo ZLI,NaN
1812,2015-03-19,Delta,Parada de ônibus BR - 101 próximo ao HC,16h50,Roubo ZLE,NaN
1667,2014-11-08,Beta,Em frente ao NIATE da Área II,18h05,Colisão,Proprietário do Polo: Antônio Otávio de Santan...
568,2011-11-28,NaN,NaN,NaN,Registro de Ocorrência,NaN
5,2008-01-08,NaN,NaN,10h40,Registro de ocorrência,Flávia
1070,2013-06-06,Delta,Estac.CCS- 14 BIS,19h15,Registro de ocorrência,Tiagro Breno (proprietário do veículo)
1046,2013-05-23,NaN,NaN,09h10,Colisão,Jose Elias dos Santos (taxista)/Antonio de Oli...
166,2008-09-28,Alfa,NEFD,17h00,Registro de ocorrência,NaN

### Transform Location Data (quadrant and place)

In [6]:
df['quadrante'] = df['quadrante']\
    .fillna('')\
    .apply(lambda e: str(e).strip().lower())\
    .apply(lambda e: 'None' if len(e) <= 1 else e)\
    .apply(lambda e: 'externa' if 'externa' in e else e)\
    .apply(lambda e: 'externa' if e.startswith('z') and e.endswith('e') else e)\
    .apply(lambda e: 'interna' if e.startswith('z') else e)\
    .apply(lambda e: e[:e.index('/')] if '/' in e else e)

places_rules = [
    ('CAC-CFCH', re.compile(r'(?ix) cfch | cac | (a|á)rtes | gere | sintuf')),
    ('CE',       re.compile(r'(?ix) ((^|\s) ce ($|\s)) | col(é|e)gio | aplica | educaç | ((^|\s)cap($|\s))')),
    ('CCSA',     re.compile(r'(?ix) ccsa | cssa | adu(e?)fpe | economia | lamsa | ((^|\s)de(q|c)($|\s)) | hotel | lac | turism | qu(í|i)mic')),
    ('CTG',      re.compile(r'(?ix) ctg | oce(o|a)no | museu | fae | eng. | engenh')),
    ('CCEN',     re.compile(r'(?ix) ccen | dep .* físi | matem')),
    ('CCB',      re.compile(r'(?ix) ccb')),
    ('CCS',      re.compile(r'(?ix) ccs | odonto | dermato | medic | fono | histono | f(á|a)rm(á|a)c | nutri | anato | faci | biot | buco | psico | svo | sa(ú|u)de | antib | nasc')),
    ('CIN',      re.compile(r'(?ix) cin | inform')),
    ('AREA2',    re.compile(r'(?ix) ((á|a)rea \s? (2|ii)) | pcu | prefeit | den')),
    ('RU',       re.compile(r'(?ix) ru | restaurante')),
    ('NTI',      re.compile(r'(?ix) ((^|\s) nti) | n(ú|u)cleo de tecn')),
    ('NEDF',     re.compile(r'(?ix) nedf | nefd | dine | nai | fisio | terapi | (educ .* ica) | arqueo | n(ú|u)cleo | quadra')),
    ('LANSA',    re.compile(r'(?ix) lansa')),
    ('CECINE',   re.compile(r'(?ix) cecine')),
    ('FARMACIA', re.compile(r'(?ix) ')),
    ('CEU',      re.compile(r'(?ix) ((^|\s) ceu ($|\s|-)) | masc | femin')),
    ('DGOS',     re.compile(r'(?ix) dgos')),
    ('REITORIA', re.compile(r'(?ix) reitoria | proa | caixa | brasi | ((^|\s)nae($|\s|\.)) | proacad')),
    ('BR101',    re.compile(r'(?ix) (br .* 101?) | sudene | viadut | girad')),
    ('HC',       re.compile(r'(?ix) hc | hospital | cl(í|i)nicas')),
    ('ENTRADA',  re.compile(r'(?ix) entrada | sa(í|i)da | editora | (o|ô)nibus | guarita | ((^|\s)cos($|\s))')),
    ('AVENIDA',  re.compile(r'(?ix) avenida | av\. | ceco(n|m) | conven | central | arqui | reitore | teatr | ((^|\s)bc($|\s))')),
    ('CONCHA',   re.compile(r'(?ix) concha')),
    ('COOPER',   re.compile(r'(?ix) cooper')),
    ('CAST_AGUA',re.compile(r'(?ix) castelo | agua')),
    ('CASA-ESTD',re.compile(r'(?ix) casa | mist')),
    ('CLUBE',    re.compile(r'(?ix) clube')),
    ('LAKE',     re.compile(r'(?ix) lago | lagu | riach | cavouc')),
    ('CAMPUS',   re.compile(r'(?ix) campus | ufpe')),
    ('TVU',      re.compile(r'(?ix) tvu | ((^|\s)tv($|\s)) | tv \s u | r(a|á)dio')),
    ('none',     re.compile(r'(?ix) none')),
    ('OUTROS',   re.compile(r'(?ix) .*')),
]
place_matcher = lambda e: [place for place, rule in places_rules if rule.search(e)][0]
df['local'] = df['local']\
    .fillna('None')\
    .apply(lambda e: str(e).strip().lower())\
    .apply(place_matcher)
df.sample(10)

,data,quadrante,local,horário,tipo,partes
232,2009-01-26,gama,FARMACIA,18h05,Registro de ocorrência,Estudante de Filosofia Raphael Soares Lucas do...
437,2011-04-15,delta,CCS,NaN,Carro c/ Vulnerabilidade,NaN
526,2011-09-14,delta,CCS,NaN,Furto Patrimonial,NaN
1692,2014-12-21,delta,FARMACIA,09h45,Arrombamento de instalações,NaN
496,2011-07-25,delta,FARMACIA,10h30,Roubo (ZLE),NaN
1721,2015-01-20,delta,LANSA,18h40,Apreensão de Animais,Informantes: vigilantes da TKS lotados no local.
959,2013-03-27,delta,CCS,NaN,Registro de ocorrência,Aurenice (secretária)
1265,2013-11-18,gama,CCSA,NaN,Registro de ocorrência,Nelson Medreiros (informante)
2086,2015-10-17,None,FARMACIA,11h40,Prestação de Socorro,Aluna: Sheyla Lilian dos Santos Barros (Pós Gr...
1619,2014-08-29,alfa,FARMACIA,00h30,Registro de ocorrência,Aluna: Patrícia Aparecida da Silva Veríssimo /...