<a href="https://colab.research.google.com/github/pedro00dk/ufpe-security-analysis/blob/master/ufpe_sa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# UFPE Security Analysis

Fetching github repo to get database file.

In [1]:
!rm --recursive --force -- ./ufpe-security-analysis/
!git clone -- https://github.com/pedro00dk/ufpe-security-analysis
!ls -- ./ufpe-security-analysis/

Cloning into 'ufpe-security-analysis'...
remote: Enumerating objects: 18, done.
remote: Counting objects: 100% (18/18), done.
remote: Compressing objects: 100% (16/16), done.
remote: Total 18 (delta 6), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (18/18), done.
 README.md   ufpe_sa.ipynb  'UFPE SSI.xlsx'

Install necessary tools for loading excel

In [2]:
!pip install xlrd

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/07/e6/e95c4eec6221bfd8528bcc4ea252a850bffcc4be88ebc367e23a1a84b0bb/xlrd-1.1.0-py2.py3-none-any.whl (108kB)
    100% |████████████████████████████████| 112kB 4.2MB/s
Installing collected packages: xlrd
Successfully installed xlrd-1.1.0

In [0]:
import numpy as np
import pandas as pd
import re

The database consists in an excel file with sheets per year of information. All of these sheets have to be loaded.

In [20]:
xls = pd.ExcelFile('./ufpe-security-analysis/UFPE SSI.xlsx')
dfs = xls.parse(sheet_name=xls.sheet_names)

[display(y, df.sample(2)) for y, df in dfs.items()]

'2008'

,Data,Quadrante,Local,Horário,Tipo,Descrição Sumária,Partes,Medidas
112,03.05.08,Alfa,CEU-MASC,07h30,Furto,Ocorrência 618-dois elementos entraram na cas...,Emanuel Armando Teixeira,"O GTO fez várias incursões, mas sem éxito."
115,06.05.08,ZLI,Av. Economista,18h50,Assalto,Ocorrência 624-estudante é assaltada.,Viviane Azevedo Galdino,"O GTO fez várias incursões, mas sem éxito."

'2009'

,Data,Quadrante,Local,Horário,Tipo,Descrição Sumária,Partes,Medidas
169,31.12.09,Alfa,Reitoria - Externa,21h00,Roubo,"Conforme registro, a funcionária que presta se...",GTO,GTO registra.
84,19.03.09,Beta,Oceanografia,21h40,Registro de ocorrência,Ocorrência 2031 - O alarme foi acionado.,Empresa TKS.,O GTO foi ao local e colocou uma corrente com ...

'2011'

,Data,Quadrante,Local,horário,Tipo,Descrição Sumária,Partes,Medidas
176,07.11.11,Gama,Colégio de Aplicação,NaN,Arrombamento de Instalações,ocorrência 3518- foi informado que a quadra co...,Marcelo Soares Tavares,NaN
131,16.08.11,ZLE,BB - reitoria - Externa,18h30,Roubo (ZLE),Ocorrencia 3345 - registra declaração de aluna...,NaN,Registrado na CSDP

'2012'

,Data,Quadrante,Local,horário,Tipo,Descrição Sumária,Partes,Medidas
217,17.11.12,ZLE,Giradouro da Reitoria,05h12,Acidente,Ocorrência 4262 - Um vigilante ao transitar de...,José Deibson Xavier,O acidentatado foi levado a UPA
245,30.12.12,ZLE,Ñinf,12h30,Registro de ocorrência,Ocorrência 4348- A VT 02 foi interceptada por ...,"Daniele Quirino, Carlos Vinicius",Os envolvidos foram levados para a GPCA

'2013'

,Data,Quadrante,Local,horário,Tipo,Descrição Sumária,Partes,Medidas
175,2013-04-30,Beta,CCEN,10h15,Arrombamento de Veículo,Ocorrência 4890-o veículo PEUGEOT NQA 1650 foi...,Sérgio Rene Pessoa (proprietário do carro),O GTO orientou a proprietária a prestar queixa...
226,2013-05-28,Gama,Biblioteca Central,08h45,Carro c/ Vulnerabilidade,Ocorrência 4946-segundo registro o carro SIENA...,Luiz Carlos de França( proprietário),O GTO entrou em contato como o dono do carro.

'2014'

,Data,Quadrante,Local,horário,Tipo,Descrição Sumária,Partes,Medidas
243,2014-07-01 00:00:00,Ñ inf,Ñ inf,21h30,Registro de ocorrência,Ocorrência 7640 - segundo registro um indivídu...,Informante: Aldo Soares (vigilante).,A PM esteve no local e o problema foi solucion...
62,2014-02-20 00:00:00,Alfa,Casa do estudante,Ñ inf,Registro de ocorrência,Ocorrência 7280-segundo registro dois elemento...,Ñ inf,As bicicletas foram conduzidas a COS.

'2015'

,Data,Quadrante,Local,horário,Tipo,Descrição Sumária,Partes,Medidas,Unnamed: 8,Unnamed: 9,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
353,2015-09-02,Gama,CAC,08h20,Incêndio,"Ocorrência 0495 TURMA ""B"" - segundo registro h...",Informante: Marcone (TKS).,O Corpo de Bombeiros e a elétrica foram aciona...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
407,2015-10-29,Gama,Laguinho,14h50,Abordagem,Ocorrência 0625 TURMA “C” - segundo registro t...,"Elementos: Bruno Opcionário de Mendonça, Lucas...",Os mesmos prometeram não fazer mais o uso de e...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

[None, None, None, None, None, None, None]

In [34]:
# lower all columns and remove extra spaces
dfs = {
    y: df.rename(lambda c: c.lower().strip(), axis='columns')
    for y, df in dfs.items()
}

# drop columns
drop_rule = re.compile(r'(?x) descrição \s sumária | medidas | unnamed.*')
dfs = {y: df.drop([c for c in df.columns if drop_rule.match(c) != None], axis='columns') for y, df in dfs.items()}

# unify null elements
na_rule = re.compile(r'(?i)ñ.*')
dfs = {y: df.replace(na_rule.pattern, np.nan, regex=True) for y, df in dfs.items()}

# unify date columns, date have different formats along all dataframes, so they have to be processed before concat
date_format = {
    '2008': '%d.%m.%y',
    '2009': '%d.%m.%y',
    '2011': '%d.%m.%y',
    '2012': '%d.%m.%y',
    '2013': '%Y-%m-%d',
    '2014': '%Y-%m-%d', #'%Y-%m-%d %h:%m:$s'
    '2015': '%Y-%m-%d'
}
dfs = {
    y: df.assign(**{'data': lambda df: pd.to_datetime(df['data'], errors='coerce', format=date_format[y], exact=False)})
    for y, df in dfs.items()
}

# merge dataframes
df = pd.concat(dfs, ignore_index=True)
df.sample(10)

,data,quadrante,local,horário,tipo,partes
1100,2013-06-21,Beta,Estacionamento do CTG,NaN,Carro c/ Vulnerabilidade,NaN
2056,2015-09-16,Alfa,Reitoria,NaN,Registro de Ocorrência,Proprietário da carteira: Assis de Andrade da ...
775,2012-09-29,Gama,CAC,15h00,Registro de ocorrência,Camila Tenório
1370,2014-02-20,Gama,Castelo D'agua,16h30,Registro de ocorrência,Menor Adriano Nunes Barbosa.
969,2013-04-04,Alfa,Entrada do Campus,09h40,Registro de ocorrência,NaN
313,2009-05-09,Gama,Química - Lansa,NaN,Roubo,GTO.
1438,2014-04-17,Alfa,NEFD,02h00,Registro de ocorrência,NaN
498,2011-07-27,Beta,CCS,04h17,Invasão,NaN
540,2011-10-10,ZLE,Parada de ônibus prox ao BB,NaN,Roubo (ZLE),NaN
799,2012-11-07,NaN,NaN,20h20,Roubo,Douglas Wilton/Ianddrah Kelly Andrade